.answer {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 620px) {
    .answer {
        flex-wrap: wrap;
        justify-content: center;
    }
}
